.main {
  text-align: center;
  border: 2px solid #004422;
  padding: 20px;
}

.success {
  color: darkgreen;
}

.failure {
  color: grey;
}

.thing-container {
  display: flex;
  flex-wrap: wrap;
}

.thing {
  background-color: dodgerblue;
  margin: 5px;
  padding: .5rem;
}
